.main-about{
  max-width:1200px;
/* border: 1px solid red; */
margin: auto;
padding: 20px;
}
.about-container {
    
    padding: 50px 0;
    margin-top: 40px;

  }
  .about-section{
    display: flex;
    gap: 60px;

  }
  
  .profile-image-container {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    overflow: hidden; 
    margin-bottom: 30px; 
  }
  
  .profile-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }
  
  .about-text {
    text-align: center;
    max-width: 800px; 
    margin: 20px 0; 
  }
  
  
  .skills-section {
    margin-top: 20px;
  }
  
  .skills {
    display: flex;
    flex-wrap: wrap; /* Allow skills to wrap to the next line */
    justify-content: center; /* Center skills horizontally */
  }
  
  .skill {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 25px 50px;
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 5px; /* Add rounded corners */
    text-align: center;
    background-color: #f8f8f8; 
    transition: background-color 0.3s ease; /* Add transition for smooth color change */
  }
  .skills-section h2{
    text-align: center;
  }
  .contact-info h2{
    text-align: center;
  }
  
  .skill:hover {
    background-color: #f0f0f0; 
    transform: translateY(-2px); /* Slight lift on hover */
  }
  
  
  .skill-name {
    margin-bottom: 5px;
    font-weight: bold;
    
  }
  
  .skill-progress {
    height: 5px;
    background-color: #ddd;
    width: 100%;
    overflow: hidden;
    
  }
  
  .skill-progress:before {
    content: "";
    display: block;
    height: 100%;
    background-color: #4CAF50; 
  }
  
  .contact-info {
    margin-top: 30px;
  }
  .contact-info h2{
    margin-bottom: 20px;
  }
  
  .contact-info ul {
    list-style: none;
    
  }
  
  .contact-info li {
    display: flex; /* Add display: flex; */
    justify-content: space-between; /* Add space between label and value */
    margin-bottom: 5px;
    background-color: #f8f8f8; /* Light gray background */
    padding: 20px;

  }
  
  .contact-info li strong { /* Target strong tag for labels */
    flex: 0 0 100px; /* Set a fixed width for labels */
    margin-right: 10px; /* Add margin between label and value */
  }
  
  .contact-info a {
    color: #007bff;
    text-decoration: none;
  }
  @media(max-width:767px){
    .about-section{
      flex-direction: column;
      gap: 60px;
  
    }
    .contact-info li {
     font-size: 10px;
    }
    
  }